#box {
  height: 70px;
  width: 100%;
  position: relative;
  border-top: 2px solid #0004ff;
}

#borderLeft {
  border-right: 2px solid #0004ff;
  position: absolute;
  bottom: 0%;
  top: 0;
}

.background-wave {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(circle at 30% 30%, #0e1d3c, transparent 70%),
    radial-gradient(circle at 70% 70%, #071a2f, transparent 60%);
  clip-path: path('M0,300 C150,400 350,200 600,300 L600,0 L0,0 Z');
  opacity: 0.8;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
}

/* .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
} */

.swiper-button-prev {
  left: 30px;
  position: absolute;
  z-index: 999999;
  background: #58a58b;
  border-radius: 100%;
  opacity: 1;
  color: white;
  width: 30px;
  height: 30px;
}

.swiper-button-next {
  right: 30px;
  position: absolute;
  z-index: 999999;
  background: #58a58b;
  border-radius: 100%;
  opacity: 1;
  color: white;
  width: 30px;
  height: 30px;
}

.swiper-button-prev:after,
.swiper-button-next:after {
  font-size: 20px;
}

.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  bottom: 0px;
  left: 0;
  width: 100%;
}

.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets
  .swiper-pagination-bullet {
  margin: 0 4px;
}

.swiper-pagination {
  position: absolute;
  text-align: center;
  transition: 300ms opacity;
  transform: translate3d(0, 0, 0);
  z-index: 10;
}

.swiper-pagination-bullet {
  width: 8px;
  height: 8px;
  display: inline-block;
  border-radius: 50%;
  background: #000;
}

.stat-number {
  font-size: 1.875rem; /* Equivalent to text-3xl */
  font-weight: bold;
  color: #000000;
  margin: 0;
}

.highlight {
  color: #029664; /* Replace with your junglegreen-500 value */
}

.stat-label {
  font-size: 0.875rem; /* Equivalent to text-sm */
  color: #4b5563; /* Approx for gray-600 */
  margin-top: 0.5rem;
}

/* @media (min-width: 1281px) {
  .iframe__div iframe {
    width: 500px;
    height: 350px;
  }
} */

/* @media (min-width: 1024px) and (max-width: 1280px) {
  .iframe__div iframe {
    width: 380px;
    height: 250px;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .iframe__div iframe {
    width: 500px;
    height: 300px;
  }
} */
